{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
{% set version = version_str(path="config/version.lua") -%}
## {{ project.NAME }}

version: {{ version }}

description: {{ project.DESCRIPTION_SHORT }}

website: https://{{ personal.GITHUB_USERNAME }}.github.io/{{ project.NAME }}

## Build

{% for wf in workflow_names() -%}
![{{ wf.name }}](https://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}/workflows/{{ wf.name }}/badge.svg)
{% endfor %}
{% if project.DESCRIPTION_LONG is defined -%}
{{ project.DESCRIPTION_LONG }}
{% endif -%}
{% include "tera.snippets/main.md.tera" %}
## Contact

chat with me at [![gitter](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/veltzer/mark.veltzer)

{{ personal.FULLNAME }}, Copyright © {{ copyright_years() }}
